.experience{
    background-color: $secondary-background;

    .container{
        padding:3rem 0rem;
        display: flex;
        gap: 8.5rem;
    }

    &-title{
        @include sub-heading;
    }

    &-content{
        p{
            @include contents;
            margin-bottom: 1.75rem;;
        }

        p:last-child{
            margin-bottom: 0;
        }
    }
}